body{
	background: #F5F5F5;
	font-family: "Source Sans Pro", arial;
	overflow-y: hidden;
	min-height: 100vh;
	header{
		text-align: center;
		color: #444;
		padding-top: 10px;
		font-size: 20px;
		h1{
			margin-top: 8px;
			line-height: 45px;
		}
		small{
			color: #999;
			font-size: 25px;
			font-weight: 300;
			a{
				text-decoration: none;
				color: #BCBCBC;
				font-weight: 400;
				transition: color 500ms ease;
				border-bottom: 1px dotted #BCBCBC;
				&:hover{
					text-decoration: none;
					color: #666;
					border-bottom: 1px dotted #666;
				};
			}
		}
	}
	.datepicker-container{
		margin: 0 auto;
		text-align: center;
		input{
			height: 32px;
			border-radius: 3px;
			border: 1px solid #EAEAEA;
			padding: 0px 10px;
		}
		.datepicker-1, .datepicker-2{
			width: 294px;
			display: inline-block;
			text-align: left;
			padding: 0 90px;
			min-height: 300px;
			label{
				color: #999;
				font-weight: 600;
				font-family: "Source Sans Pro";
			}
		}
		.datepicker-1{
			border-right: 1px dotted #BCBCBC;
		}
	}
	.selected-date{
		/*background: rgb(0, 113, 181, .8);*/
		padding: 20px;
		border: 1px solid #CCC;
		border-radius: 3px;
		background: #FFF;
		position: fixed;
		bottom: 50px;
		border-radius: 0px;
		font-size: 14px;
		color: #999;
		transition: all 900ms ease;
		&.vis{
			opacity: 1;
		}
		&.hidden{
			opacity: 0;
		}
		&.datepicker-1-value{
			left: 50px;
		}
		&.datepicker-2-value{
			right: 50px;
		}
		h3{
			color: #999;
			font-size: 16px;
			margin: 0;
			margin-bottom: 10px;
		}
	}
	footer{
		text-align: center;
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		padding-bottom: 40px;
		img{
			width: 20px;
			vertical-align: -4px;
    		margin-right: 3px;
		}
		a{
			color: #008CCD;
			border-radius: 3px;
			text-decoration: none;
			padding: 14px 18px;
			background: #FFF;
			border: 1px solid #EAEAEA;
			transition: background 200ms ease;
			&:hover{
				background: transparent;
			}
		}
	}
}