<!DOCTYPE html>
<html lang="en" ng-app="datepickerDemo">
<head>
	<meta charset="UTF-8">
	<title>ng-datepick | A datepicker written in angular</title>
	<link rel="stylesheet" href="css/app.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body ng-controller="masterController">
	<header>
		<h1>ngDatepick <br><small>An elegant, easily customizable datepicker in Angular <br>Built on top of <a href="https://github.com/fulup-bzh/DatePicker" target="_blank">Datepicker by Fulup</a></small></h1>
	</header>
	<div class="datepicker-container">
		<div class="datepicker-1">
			<label for="">Normal Datepicker</label>
			<date-picker ng-model="datepicker" placeholder="Select Date" callback="dateChange()" format="dd MMM, yyyy" autohide="true"></date-picker>
		</div>
		<div class="datepicker-2">
			<label for="">Month picker</label>
			<date-picker ng-model="datepicker2" placeholder="Select Date" callback="dateChange()" format="MMM, yyyy" autohide="true" month-only="true"></date-picker>
		</div>
	</div>
	<div class="selected-date datepicker-1-value" ng-class="datepicker ? 'vis' : 'hidden'">
		<h3>Current Value</h3>
		{{datepicker}}
	</div>
	<div class="selected-date datepicker-2-value" ng-class="datepicker2 ? 'vis' : 'hidden'">
		<h3>Current Value</h3>
		{{datepicker}}
	</div>
	<footer>
		<a href="https://github.com/FauzanKhan/ng-datepick" target="_blank">
			<!-- <i class="material-icons">github</i> <--><img src="http://cdn.flaticon.com/png/256/25231.png" alt=""></--> Fork on GitHub
		</a>
	</footer>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.2/angular.min.js"></script>
	<script src="js/datepicker.js"></script>
	<script src="js/demo.js"></script>
</body>
</html>